$gray-nav:#919496;
$green:#1DB954;

footer {
    background-color: black;
    padding: 100px;

    nav {
        display: flex;
        justify-content: space-between;

        .logo img {
            max-width: 150px;
        }

        .links {
            display: flex;

            ul {
                padding: 0;
                margin-right: 30px;

                li {
                    list-style-type: none;
                    margin-bottom: 15px;
                }
            }

            h3 {
                color: $gray-nav;
                font-size: 12px;
                font-weight: 900;
            }

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: $green;
                }
            }
        }

        .icon-socials img {
            max-width: 40px;
            margin: 10px;
        }
    }

    .bottom-foot {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        ul {
            padding: 0;

            &>* {
                display: inline;
            }

            li {
                list-style-type: none;
                margin-bottom: 15px;
                margin-right: 30px;

                a {
                    color: $gray-nav;
                    text-decoration: none;
                    font-size: 10px;

                    &:hover {
                        color: $green;
                    }
                }
            }
        }

        .credits {
            text-align: right;
            font-size: 12px;
            color: $gray-nav;
            img{
                max-width:30px;
            }
        }
    }

}

@media (max-width: 768px){
    footer { 
        padding: 10px;
        nav {
            display: flex;
            flex-direction: column;
    
            .logo img {
                margin-bottom: 30px;
            }
    
            .links {
                display: flex;
                flex-direction: column;
    
                ul {
                    margin-top: 50px;
    
                    li {
                        list-style-type: none;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    
        .bottom-foot {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 15px;
                }
            }
        }
    
    }
}